/* styles.css */
.slick-prev, .slick-next {
    background-color: rgba(0, 0, 0, 0.919);
    color: red;
    border: none;
    cursor: pointer;
    display: block;
    z-index: 1;
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 1 !important;
  
  }


  .slick-next:hover, .slick-prev:hover{
    background-color: rgb(45, 211, 12);
  }
  .slick-prev {
    left: -20px;
  }
  
  .slick-next {
    right: -20px;
  }
  